/* TODO Add site wide styles */
.header-container {
  height: 70px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.logo {
  display: flex;
  color: white;
}

.logo-title {
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-title-peak {
  font-size: 17px;
  font-weight: 600;
}

.logo-title-project {
  font-size: 10px;
}
.nav-buttons {
  display: flex;
  align-items: center;
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 304px;
  padding: 28px;
}

.sign-up-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-menu-container {
  width: auto;
}
